<div class="main practice_lists">
    <div class="title">
        <h2>練習日誌</h2>
    </div>
    <div class="contents">
        <div class="content">
            <div class="date-timezone">
                <p>2022/02/23 朝</p>
            </div>
            <div class="practice">
                <div class="result">
                    <p>ロード/ジョグ</p>
                    <div class="distance-time">
                        <div class="distance">
                            <span class="figure">18.00</span>
                            <span>km</span>
                        </div>
                        <div class="time">
                            <p>時間</p>
                            <p class="figure">1:20:25</p>
                        </div>
                        <div class="pace">
                            <p>ペース</p>
                            <p class="figure">4:28</p>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <div class="weather">
                        <%= image_tag "/assets/weather-icon.svg" %>
                        <p class="weather-kind">天気</p>
                        <p>晴れ</p>
                    </div>
                    <div class="strength">
                        <%= image_tag "/assets/strength-icon.svg" %>
                        <p class="strength-phase">強度</p>
                        <div class="strength-value">
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                    </div>
                    <div class="thoughts">
                        なぜか首周りの力が抜けなくなった。右脚が開きすぎることがなくなって
                        大転子に負荷がかからなくなった。下腹の張りが取れたのが関係してると思う。
                        ハムが疲れやすくて40分くらいで立ち止まってストレッチした。
                        純粋に体が訛っているのもありそう。
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="date-timezone">
                <p>2022/02/23 朝</p>
            </div>
            <div class="practice">
                <div class="result">
                    <p>ロード/ジョグ</p>
                    <div class="distance-time">
                        <div class="distance">
                            <span class="figure">18.00</span>
                            <span>km</span>
                        </div>
                        <div class="time">
                            <p>時間</p>
                            <p class="figure">1:20:25</p>
                        </div>
                        <div class="pace">
                            <p>ペース</p>
                            <p class="figure">4:28</p>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <div class="weather">
                        <%= image_tag "/assets/weather-icon.svg" %>
                        <p class="weather-kind">天気</p>
                        <p>晴れ</p>
                    </div>
                    <div class="strength">
                        <%= image_tag "/assets/strength-icon.svg" %>
                        <p class="strength-phase">強度</p>
                        <div class="strength-value">
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                    </div>
                    <div class="thoughts">
                        なぜか首周りの力が抜けなくなった。右脚が開きすぎることがなくなって
                        大転子に負荷がかからなくなった。下腹の張りが取れたのが関係してると思う。
                        ハムが疲れやすくて40分くらいで立ち止まってストレッチした。
                        純粋に体が訛っているのもありそう。
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="date-timezone">
                <p>2022/02/23 朝</p>
            </div>
            <div class="practice">
                <div class="result">
                    <p>ロード/ジョグ</p>
                    <div class="distance-time">
                        <div class="distance">
                            <span class="figure">18.00</span>
                            <span>km</span>
                        </div>
                        <div class="time">
                            <p>時間</p>
                            <p class="figure">1:20:25</p>
                        </div>
                        <div class="pace">
                            <p>ペース</p>
                            <p class="figure">4:28</p>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <div class="weather">
                        <%= image_tag "/assets/weather-icon.svg" %>
                        <p class="weather-kind">天気</p>
                        <p>晴れ</p>
                    </div>
                    <div class="strength">
                        <%= image_tag "/assets/strength-icon.svg" %>
                        <p class="strength-phase">強度</p>
                        <div class="strength-value">
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                    </div>
                    <div class="thoughts">
                        なぜか首周りの力が抜けなくなった。右脚が開きすぎることがなくなって
                        大転子に負荷がかからなくなった。下腹の張りが取れたのが関係してると思う。
                        ハムが疲れやすくて40分くらいで立ち止まってストレッチした。
                        純粋に体が訛っているのもありそう。
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="date-timezone">
                <p>2022/02/23 朝</p>
            </div>
            <div class="practice">
                <div class="result">
                    <p>ロード/ジョグ</p>
                    <div class="distance-time">
                        <div class="distance">
                            <span class="figure">18.00</span>
                            <span>km</span>
                        </div>
                        <div class="time">
                            <p>時間</p>
                            <p class="figure">1:20:25</p>
                        </div>
                        <div class="pace">
                            <p>ペース</p>
                            <p class="figure">4:28</p>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <div class="weather">
                        <%= image_tag "/assets/weather-icon.svg" %>
                        <p class="weather-kind">天気</p>
                        <p>晴れ</p>
                    </div>
                    <div class="strength">
                        <%= image_tag "/assets/strength-icon.svg" %>
                        <p class="strength-phase">強度</p>
                        <div class="strength-value">
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                    </div>
                    <div class="thoughts">
                        なぜか首周りの力が抜けなくなった。右脚が開きすぎることがなくなって
                        大転子に負荷がかからなくなった。下腹の張りが取れたのが関係してると思う。
                        ハムが疲れやすくて40分くらいで立ち止まってストレッチした。
                        純粋に体が訛っているのもありそう。
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="date-timezone">
                <p>2022/02/23 朝</p>
            </div>
            <div class="practice">
                <div class="result">
                    <p>ロード/ジョグ</p>
                    <div class="distance-time">
                        <div class="distance">
                            <span class="figure">18.00</span>
                            <span>km</span>
                        </div>
                        <div class="time">
                            <p>時間</p>
                            <p class="figure">1:20:25</p>
                        </div>
                        <div class="pace">
                            <p>ペース</p>
                            <p class="figure">4:28</p>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <div class="weather">
                        <%= image_tag "/assets/weather-icon.svg" %>
                        <p class="weather-kind">天気</p>
                        <p>晴れ</p>
                    </div>
                    <div class="strength">
                        <%= image_tag "/assets/strength-icon.svg" %>
                        <p class="strength-phase">強度</p>
                        <div class="strength-value">
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                    </div>
                    <div class="thoughts">
                        なぜか首周りの力が抜けなくなった。右脚が開きすぎることがなくなって
                        大転子に負荷がかからなくなった。下腹の張りが取れたのが関係してると思う。
                        ハムが疲れやすくて40分くらいで立ち止まってストレッチした。
                        純粋に体が訛っているのもありそう。
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="date-timezone">
                <p>2022/02/23 朝</p>
            </div>
            <div class="practice">
                <div class="result">
                    <p>ロード/ジョグ</p>
                    <div class="distance-time">
                        <div class="distance">
                            <span class="figure">18.00</span>
                            <span>km</span>
                        </div>
                        <div class="time">
                            <p>時間</p>
                            <p class="figure">1:20:25</p>
                        </div>
                        <div class="pace">
                            <p>ペース</p>
                            <p class="figure">4:28</p>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <div class="weather">
                        <%= image_tag "/assets/weather-icon.svg" %>
                        <p class="weather-kind">天気</p>
                        <p>晴れ</p>
                    </div>
                    <div class="strength">
                        <%= image_tag "/assets/strength-icon.svg" %>
                        <p class="strength-phase">強度</p>
                        <div class="strength-value">
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square-fill"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                    </div>
                    <div class="thoughts">
                        なぜか首周りの力が抜けなくなった。右脚が開きすぎることがなくなって
                        大転子に負荷がかからなくなった。下腹の張りが取れたのが関係してると思う。
                        ハムが疲れやすくて40分くらいで立ち止まってストレッチした。
                        純粋に体が訛っているのもありそう。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>